<style>
    .nav-stacked li {
        display: block;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-family: 'Nunito Sans', sans-serif;
        color: @SiteInfo.TextColor;
        font-weight: 300;
        font-size: 1.6rem;
        list-style: none;
        box-sizing: border-box;
        position: relative;
        display: block;
        float: none;
        line-height: 2rem;
    }

    .nav-pills.nav-stacked:not(.list-style-icons) > li > a:after {
        font-family: "FontAwesome";
        content: "\f101";
        font-size: 12px;
        position: absolute;
        right: 0px;
        margin-left: 40px;
        top: 4px;
        left: 40px;
        color: #d1d1d1;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        display: none;
    }

    .nav-stacked li a {
        display: inline-flex;
        font-weight: bold;
        color: @SiteInfo.TextColor;
    }

    nav .nav-stacked {
        display: block;
        color: @SiteInfo.TextColor;
    }
</style>
<footer id="footer" class="clearfix ">

    <!-- .footer start -->
    <!-- ================ -->

    <div class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-content">
                            <div class="logo-footer">
                                <div>
                                    <svg style="zoom:150%;" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24"
                                         viewBox="0 0 24 24">
                                        <path fill="@SiteInfo.AccentColor" d="M21,3V15.5A3.5,3.5 0 0,1 17.5,19A3.5,3.5 0 0,1 14,15.5A3.5,3.5 0 0,1 17.5,12C18.04,12 18.55,12.12 19,12.34V6.47L9,8.6V17.5A3.5,3.5 0 0,1 5.5,21A3.5,3.5 0 0,1 2,17.5A3.5,3.5 0 0,1 5.5,14C6.04,14 6.55,14.12 7,14.34V6L21,3Z" />
                                    </svg>
                                </div>

                            </div>
                            <p>
                                Find all the latest Christian songs, from different genre like praises and hymnal christian songs. (Ps. 47:1 Col. 3:1, Eph. 5:19)
                            </p>
                            
                            <p style="color:@SiteInfo.AccentColor;">
                                SUGGESTION
                                <h6>PLEASE NO DISCO LIGHTS IN CHURCHES, SONG LEADERS MUST DRESS MODEST APPAREL &amp; REVIEW THE LYRICS.</h6>
                            </p>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 style="color:@SiteInfo.TextColor;" class="title">Learn more</h2>
                            <div class="separator-2"></div>
                            <nav>
                                <ul style="display:block;" class="nav nav-pills nav-stacked">

                                    <li>
                                        <a class="nav_a" @onclick="(()=>{Shared.MainLayout.Current.NavigateToAbout();})">About</a>
                                    </li>

                                    <li>
                                        <a target="_blank"
                                           href="mailto:mailto:@SiteInfo.Email">Contact Email</a>
                                    </li>
                                    <li>
                                        <a @onclick="(()=>{Blazor.Shared.MainLayout.Current.ShowPrivacy();})">Privacy</a>
                                    </li>

                                </ul>

                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 style="color:@SiteInfo.TextColor;" class="title">On this site</h2>
                            <div class="separator-2"></div>
                            <nav>
                                <ul style="display:block;" class="nav nav-pills nav-stacked">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="https://www.buymeacoffee.com/nextsupportlab" target="_blank">Donate</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 style="color:@SiteInfo.TextColor;" class="title">Popular &amp; Recents</h2>
                            <div class="separator-2"></div>
                            <div class="tags-cloud">
                                @foreach (var item in categoriesFinal)
                                {
                                    <div @onclick="@(()=>{GotoLanguage(item);})" style="cursor:pointer;" class="tag">
                                        <style>
                                            .tag_a:hover {
                                                color: black;
                                            }
                                        </style>
                                        <a class="tag_a" style="color:tan;">@item.Language</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .footer end -->
    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter dark-bg">
        <div class="container">
            <div class="subfooter-inner">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center" >
                            <a class="link-light"  href="@SiteInfo.SiteFullUrl">
                                <span style="color:gray;">@SiteInfo.SiteName</span> <span style="font-size:medium;color:gray;"> @DateTime.Now.Year </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->
</footer>

@code {
    List<LanguageItem> categoriesFinal = new List<LanguageItem>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        DataServiceProvider.ItemsLoaded += (s, e) =>
       {
           RenderItems();
       };
        LanguageHelper.LanguageTotalUpdated += (ss, d) =>
        {
            categoriesFinal = d;
            StateHasChanged();
        };
        RenderItems();
    }
    bool rendering = false;
    async void RenderItems()
    {
        if (DataServiceProvider.ItemHasLoaded == false)
            return;
        if (rendering)
            return;
        rendering = true;
        categoriesFinal = await LanguageHelper.GetLanguagesAsync();
        categoriesFinal = categoriesFinal.OrderByDescending(p => p.Total).Take(7).ToList();
        StateHasChanged();
        rendering = false;
    }
    void GotoLanguage(LanguageItem language)
    {

        var _selectedLanguage = language.Language;
        var languageType = _selectedLanguage;
        ChristianSongs.Blazor.Shared.MainLayout.Current.SelectLanguage(languageType);
        StateHasChanged();
    }
}
