@page "/about"
<ContentPage>
    <Content>
        
        <section class="main-container">
            <div class="container">
                <div class="row">
                    <div class="main col-md-12">
                        <h1 class="page-title">About Us</h1>
                        <div class="separator-2 mb-20"></div>
                        <div class="row mb-40">
                            <div class="col-md-12">
                              
                                <p>
                                    We hope that you will enjoy using song list and will join us, submit more open worships lyrics to the christian people.
                                    If there is anything you would like to see changed, compliment us or just want to say anything please contact us. <a href="@SiteInfo.Email">@SiteInfo.Email</a>
                                </p>
                                <p>
                                    By @SiteInfo.SiteName (<a href="@SiteInfo.SiteUrl" target="_blank">@SiteInfo.SiteUrl</a>).
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </Content>
</ContentPage>

@code {
    protected override async void OnInitialized()
    {
        base.OnInitialized();
        var _snippets = await DataServiceProvider.GetItemsAsync();
        var random = new Random();
        RandomItems = _snippets.OrderBy(x => random.Next()).Take(3).ToList();

    }
    public List<ProjectItem> RandomItems = new List<ProjectItem>();
}
